[Unit]
Description=Bouclette USB Video Player
After=local-fs.target systemd-udev-settle.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/local/bin/bouclette-player.sh
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
